div(ng-include="'views/dashboard/settings/shell.html'")

div(ng-include="'views/common/spinner.html'" ng-show="isLoading")
.container(ng-hide="isLoading")
    .row
        .col-md-offset-2.col-md-8
            h2 Edit site {{ site.name }}
    
    div(ng-show="isChangingPic")
        include ../../../common/picUploader.jade
        
    .row(ng-hide="isChangingPic")
        .col-md-offset-2.col-md-2.text-center
            div(ng-show="site.pic")
                img.img-thumbnail.img-responsive(profile-img="site" profile-type="site" profile-size="large" profile-nocache="true" img-changed="imgChanged")
            div
               button.btn.btn-primary(ng-click="startChangingPic()" ng-disabled="isSaving") Change Pic
        .col-md-6
            include ./form.jade
    
    .row(ng-hide="isChangingPic")
        .col-md-10
            .pull-right
                a.btn.btn-default(href="/settings/sites") Cancel
                | &nbsp;
                button.btn.btn-danger(ng-click="deleteSite()", ng-disabled="isSaving || !canDelete") Delete
                | &nbsp;
                button.btn.btn-primary(ng-click="saveSite()", ng-disabled="siteForm.$invalid || isSaving") Save
