div(ng-include="'views/account/shell.html'")
.container.well
  .row.center-block(ng-controller='zLoginCtrl')
    .col-md-2
    .col-md-8
        .container-fluid
            .panel.panel-primary
                .panel-heading.text-center.lead <strong>Log In</strong>
                form.form-horizontal
                    .form-group
                        .row.voffset3
                            .col-md-2.col-md-offset-1.col-xs-11.col-xs-offset-1
                                label.control-label(for='email') Email
                            .col-md-8.col-md-offset-0.col-xs-10.col-xs-offset-1
                                input.form-control(ng-model='email' type='email' placeholder='Email')
                    .form-group
                        .row
                            .col-md-2.col-md-offset-1.col-xs-11.col-xs-offset-1
                                label.control-label(for='password') Password
                            .col-md-8.col-md-offset-0.col-xs-10.col-xs-offset-1
                                input.form-control(ng-model='password' type='password', placeholder='Password')
                    .form-group
                        .row
                            .col-xs-offset-1.col-xs-9.col-md-offset-3
                                a(href="/lostpassword?email={{email}}") Lost password
                    .form-group
                        .row
                            .col-xs-11
                                button.btn.btn-primary.pull-right(ng-click="signin(email, password)") Sign in

            h4.text-center Don't have an account yet? <a href="/signup">Sign up</a> now.

            .alert.alert-warning(ng-show="info.status=='no password'")
                h3 <strong>Uh Oh {{info.firstName}}.</strong> You haven't set your password yet!
                p Follow the link in the email sent to you by your site manager.
                p If the link is already processed or expired, have your site manager re-issue it.

            .alert.alert-warning(ng-show="info.status=='un-verified owner'")
                h3 <strong>Uh Oh {{info.firstName}}.</strong> You haven't verified your account yet!
                p Follow the link sent to your email at {{info.email}}.
                br
                h4 I've lost that email :(
                p
                    a(href='#' ng-click="resendOwnerEmail()") Send a new link to {{info.email}}
                br
                h4 Oh no! That's the wrong email address!
                p Don't worry. Just <a href="/signup">sign up again</a> with the right one this time ;)

            .alert.alert-success(ng-show="info.status=='new owner email re-sent'")
                h4 The new owner verification email has been resent to {{info.email}}.
                p Follow the link in that email to verify your account.

            .alert.alert-warning(ng-show="info.status=='un-verified user'")
                h3 <strong>Uh Oh {{info.firstName}}.</strong> You haven't verified your account yet!
                p Follow the link sent to your email at {{info.email}}.
                p If this is not the correct address or the link has expired, ask your site manager to resend the link.

            .alert.alert-danger(ng-show="info.status=='disabled'")
                h3 <strong>Uh Oh {{info.firstName}}.</strong> Your account is currently disabled ;(
                p You will need to speak to your site manager.