div(ng-include="'views/account/shell.html'")
.container.well
    h1 Password Recovery
    form.form-horizontal
        .form-group
            label.col-sm-2.control-label(for='email') Enter your email
            .col-sm-9
                input.form-control(id='email' type='email' ng-model='email' placeholder='Email')
        .form-group
            .col-sm-offset-2.col-sm-9
                button.btn.btn-primary.pull-right(ng-click="findUser(email)") Find Me

    .container(ng-show="hashedEmail")
        p Account found with email <strong>{{hashedEmail}}</strong>

        form.form-horizontal
            .form-group
                label.col-sm-2.control-label(for='foundEmail') Enter email in full to confirm
                .col-sm-9
                    input.form-control(id='foundEmail' ng-model='foundEmail' placeholder='Email')
            .form-group
                .col-sm-offset-2.col-sm-9
                    button.btn.btn-primary.pull-right(ng-click="resetPassword(userName, foundEmail)") Reset Password
