.navbar.navbar-default(ng-controller="zNavBarAccountCtrl")
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-account")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/dashboard") Zurili
        .collapse.navbar-collapse(id="navbar-account")
            ul.nav.navbar-nav
                li.dropdown(dropdown)
                    a.dropdown-toggle(href="#" dropdown-toggle)
                        img.profile-tiny(profile-img="currentSite" profile-type="site" profile-size="small")
                        span {{ currentSite.name }}
                        span.caret
                    ul.dropdown-menu
                        li(ng-repeat="site in sites")
                            //mark doesn't show as different... but what else to use?
                            a(href="#" ng-class="{'mark': site.current}" ng-click="changeSite(site)")
                                img.profile-tiny(profile-img="site" profile-type="site" profile-size="small")
                                span {{ site.name }}
                        li
                            a(href="/settings/sites") -- Manage --

            ul.nav.navbar-nav.navbar-right
                li.dropdown(dropdown)
                    a.dropdown-toggle.profile(href="#" dropdown-toggle)
                        img.profile-tiny(profile-img="identity.getCurrentUser()" profile-type="user" profile-size="small")
                        span {{ identity.getCurrentUser().displayName }}
                        span.caret
                    ul.dropdown-menu
                        li.dropdown-submenu-left
                            a(href="#") Dashboard
                            ul.dropdown-menu.multi-dropdown
                                li(ng-repeat="Dashboard in dashboards")
                                    a(href="/dashboard" ng-click="changeDashboard(Dashboard)" ng-class="{ 'active-dashboard' : dashboard.name == Dashboard.name }") {{ Dashboard.name | zCapitalize }}
                                li
                                    a(href="dashboard/dashboards") -- Manage --
                        li
                            a(href="/settings/profile") Profile
                        li
                            a(href="/settings/account") Account
                        li
                            a(href="" ng-click="logout()") Log Out