div(ng-include="'views/account/shell.html'")
.container.well
    h1 Welcome {{user.displayName}}!
    p We are excited to have you join Zurili.
    p We have sent an email to <strong>{{user.email}}</strong>
    p To complete your setup, open that email now and follow the link.
    p
    p
    p (If that's not the right email address, just <a href="/signup">sign up again</a> with the right one.)
