.modal-header
    h3.modal-title Edit region
.modal-body.edit-region-modal
    .container-fluid
        .row
            .col-md-12
                .input-group
                    input.form-control(type="text" ng-disabled="region.id < 2" ng-model="region.name")
                    .input-group-btn
                        spectrum-colorpicker(ng-model="region.bgColor" options="colorpickerOpts")
        .row
            .col-md-12
                h4 Apointment templates
                div(ng-repeat="at in region.appointmentTemplates | orderBy: 'name'")
                    .checkbox
                        label
                            input(type="checkbox" ng-value="true" ng-model="at.isSelected")
                            span {{ at.name }}
.modal-footer
    button.btn.btn-default.btn-primary(ng-click="save()") Save
    span &nbsp;
    button.btn.btn-default.btn-danger(ng-click="delete()" ng-show="region.id >= 2 && !region.isNew") Delete
    span &nbsp;
    button.btn.btn-default(ng-click="cancel()") Cancel
