div(ng-include="'views/dashboard/appointments/shell-settings.html'")

.container
    .row
        .col-md-12
            h2 Resources
    .row
        .col-md-12
            table.table.table-striped.resources
                thead
                    tr
                        td.pic
                            strong Pic
                        td
                            strong Name
                        td.practitioner
                            strong Linked practitioner
                        td.interval
                            strong Book interval
                tbody
                    tr(ng-repeat='resource in resources')
                        td
                            div(ng-show="resource.pic")
                                img.img-thumbnail.img-responsive(profile-img="resource" profile-type="resource" profile-size="small")
                        td
                            a(ng-show="canEdit" href="/appointments/settings/resources/{{ resource._id }}") {{ resource.name }}
                            span(ng-hide="canEdit") {{ resource.name }}
                        td
                            span {{ resource.practitionerName }}
                        td {{ resource.appointmentInterval }} minutes
    .row
        .col-md-12
            a.btn.btn-default.btn-success.pull-right(href="/appointments/settings/resources/new" ng-disabled="!canEdit") New Resource
