div(ng-include="'views/dashboard/appointments/shell-settings.html'")

div(ng-include="'views/common/spinner.html'" ng-show="isLoading")
.container(ng-hide="isLoading")
    .row
        .col-md-12
            h2 {{ resource.name }}
    .row
        .col-md-2
            div(ng-show="resource.pic")
                img.img-thumbnail.img-responsive(profile-img="resource" profile-type="resource" profile-size="large")
        .col-md-10
            p.text-muted Description:
                span.text-default {{ resource.description }}
            p.text-muted Linked practitioner:
                a.text-default(ng-show="resource.practitioner" href="/settings/users/{{ resource.practitioner._id }}") {{ resource.practitioner.name }}
            p.text-muted Appointment book interval:
                span.text-default {{ resource.appointmentInterval }} minutes
            p.text-muted Reminder message:
                span.text-default SMS Reminder
            p.text-muted Remind before start:
                span.text-default {{ resource.remindBeforeStart }} minutes
    .row
        .col-md-12
            .pull-right
                a.btn.btn-default(href="/appointments/settings/resources") Cancel
                |&nbsp;
                a.btn.btn-info(href="/appointments/settings/resources/{{ resource._id }}/avaliable-times") Avaliable times
                |&nbsp;
                a.btn.btn-primary(href="/appointments/settings/resources/{{ resource._id }}/edit" ng-disabled="!canEdit") Edit
