div(ng-include="'views/dashboard/shell.html'")
h1 {{template.templateType}} Template: {{ template.description }}
div(ng-include="'views/dashboard/communication/navbar-communication.html'")
.container
    .row
        .col-sm-12
            p Created {{template.created | date:'d MMM y'}}
            p Last used {{template.lastUsed | date:'d MMM y'}}
    .row(ng-show="template.templateType==='Email'")
        .col-md-6
            h4 Subject
            .well
                p {{template.subject}}
    .row
        .col-md-6
            h4 Message
            .well
                p {{template.body}}
            
    .row
        .col-md-6.pull-right
            a.btn.btn-default(href="/communication/settings/templates") Cancel
            | &nbsp;
            a.btn.btn-primary(href="/communication/settings/template/{{template.id}}/edit") Edit