footer
    margin-top 15px
    padding-left 15px
    padding-right 15px
    p
        border-top 1px solid #d7e0e2

body
    padding-left 5px
    padding-right 5px

.coloredbox
    width: 20px
    height: 20px
    background-color: red
  
a.ng-action
    cursor: pointer

span.text-default
    color: black
    margin-left: 5px
span.color-block
    display: inline-block
    border-radius: 3px
    width: 22px
    height: 20px
    margin-left: 5px
    vertical-align: middle
a.text-default
    text-decoration: underline
    padding-left: 5px

.clear-filter
    position: absolute
    right: 25px
    top: 10px
    z-index: 2
    cursor: pointer

.ui-select-bootstrap
    .ui-select-choices
         max-height: none

.sk-spinner.sk-spinner-three-bounce
    margin-top: 7px
    .sk-bounce1
    .sk-bounce2
    .sk-bounce3
        background-color: silver

img.profile-tiny
    width: 32px
    height: 32px
    margin: 3px
    margin-right: 5px
img.profile-small
    width: 64px
    height: 64px
    margin: 3px
    margin-right: 5px
    
span.bgColor
    display: inline-block
    border-radius: 3px;
    width: 22px
    height: 22px
    margin-right: 5px
    vertical-align: middle;


// TODO
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.font-bold
    font-weight: bold
.font-italic
    font-style: italic

.dropdown-submenu
  position relative
  & > .dropdown-menu
    top 0
    left 100%
    margin-top -6px
    margin-left -1px
    // -webkit-border-radius 0 6px 6px 6px
    // -moz-border-radius 0 6px 6px
    border-radius 0 6px 6px 6px
  &:hover
    & > .dropdown-menu
      display block
    & > a
      &:after
        border-left-color #fff
  & > a
    &:after
      display block
      content " "
      float right
      width 0
      height 0
      border-color transparent
      border-style solid
      border-width 5px 0 5px 5px
      border-left-color #ccc
      margin-top 5px
      margin-right -10px
  &.pull-left
    float none
    & > .dropdown-menu
      left -100%
      margin-left 10px
      // -webkit-border-radius 6px 0 6px 6px
      // -moz-border-radius 6px 0 6px 6px
      border-radius 6px 0 6px 6px

.dropdown-submenu-left
  position relative
  & > .dropdown-menu
    top 0
    right 100%
    margin-top -6px
    margin-left -1px
    // -webkit-border-radius 6px 0 6px 6px
    // -moz-border-radius 0 6px 6px
    border-radius 6px 0 6px 6px
  &:hover
    & > .dropdown-menu
      display block
    & > a
      &:after
        border-right-color #fff
  & > a
    &:after
      display block
      content " "
      float left
      width 0
      height 0
      border-color transparent
      border-style solid
      border-width 5px 5px 5px 5px
      border-right-color #ccc
      margin-top 5px
      margin-left -15px
  &.pull-left
    float none
    & > .dropdown-menu
      left -100%
      margin-left 10px
      // -webkit-border-radius 6px 0 6px 6px
      // -moz-border-radius 6px 0 6px 6px
      border-radius 6px 0 6px 6px

.multiSelect
    img
        max-height: initial
        max-width: initial
    & > button
        width: 100%
        text-align: left
