div.appointments
    .fitlers
        margin-bottom: 10px
    .fc-content
        .pic
            float: left
        .title
            p
                margin: 3px 0
            .time
                font-weight: bold

form.appointment-form
    .start-date
        margin-top: 35px
    .input-group .form-control
        z-index: initial

.appointment-details
    .modal-header
        border-bottom: none
        padding-bottom: 10px
    .modal-body
        padding-top: 10px
    strong.title
        display: inline-block
        width: 40px
    td.title
        width: 110px
        color: #777