div(ng-include="'views/dashboard/settings/shell.html'")

.container
    .row
        .col-md-12
            h2 Your Team
    .row
        .col-md-12
            table.table.table-striped.users
                thead
                    tr
                        td.pic
                            strong Pic
                        td
                            strong Name
                tbody
                    tr(ng-repeat="user in users | filter: { roles: '!api' }")
                        td
                            div(ng-show="user.pic")
                                img.img-thumbnail.img-responsive(profile-img="user" profile-type="user" profile-size="small")
                        td
                            a(ng-show="canEdit" href="/settings/users/{{ user._id }}") {{ user.name || user.email }}
                            span(ng-hide="canEdit") {{ user.name || user.email }}
    .row
        .col-md-12
            a.btn.btn-default.btn-primary.pull-right(href="/settings/users/new" ng-disabled="!canEdit") New User
