div(ng-include="'views/dashboard/settings/shell.html'")

div(ng-include="'views/common/spinner.html'" ng-show="isLoading")
.container(ng-hide="isLoading")
    .row
        .col-md-offset-2.col-md-8
            h2 Edit User {{ user.name }}
    
    div(ng-show="isChangingPic")
        include ../../../common/picUploader.jade
        
    .row(ng-hide="isChangingPic")
        .col-md-offset-2.col-md-2.text-center
            div(ng-show="user.pic")
                img.img-thumbnail.img-responsive(profile-img="user" profile-type="user" profile-size="large" profile-nocache="true" img-changed="imgChanged")
            div
               button.btn.btn-primary(ng-click="startChangingPic()" ng-disabled="isSaving") Change Pic
        .col-md-6
            include ./form.jade
    
    .row(ng-hide="isChangingPic")
        .col-md-10
            .pull-right
                a.btn.btn-default(href="/settings/users") Cancel
                | &nbsp;
                button.btn.btn-info(ng-click="resendInviteEmail()", ng-hide="user.verified" ng-disabled="isSaving || !canEdit") Resend invite email
                | &nbsp;
                button.btn.btn-danger(ng-click="deleteUser()", ng-hide="user.verified" ng-disabled="isSaving || !canEdit") Delete
                | &nbsp;
                button.btn.btn-primary(ng-click="saveUser()", ng-disabled="userForm.$invalid || !user.roles.length || isSaving || !canEdit") Save
