.navbar.navbar-default
    .container-fluid
        .navbar-collapse.collapse
            ul.nav.navbar-nav.auto-active
                li
                    a(href="#") Summary
                li
                    a(href="#") Statements
                li
                    a(href="#") A/R
                li
                    a(href="#") A/P
                li
                    a(href="#") Reports
            ul.nav.navbar-nav.navbar-right.auto-active
                li
                    a
                        span.glyphicon.glyphicon-cog
