.jumbotron
    .container-fluid
        .row
            .col-xs-offset-2.col-xs-8
                h1 Zurili
                h3 Bringing health to your community
                a.btn.btn-primary(href='/dashboard') Start App