div(ng-include="'views/dashboard/appointments/shell-settings.html'")

div(ng-include="'views/common/spinner.html'" ng-show="isLoading")
.container(ng-hide="isLoading")
    .row
        .col-md-12
            h2 Edit Appointment template
    .row
        .col-md-6
            include ./form.jade
        .col-md-6
            include ./form-automations.jade
    .row
        .col-md-12
            .pull-right
                a.btn.btn-default(href="/appointments/settings/templates") Cancel
                | &nbsp;
                button.btn.btn-primary(ng-click="saveAppointmentTemplate()", ng-disabled="appointmentTemplateForm.$invalid || isSaving || !canEdit") Save
