div(ng-include="'views/dashboard/appointments/shell-settings.html'")

div(ng-include="'views/common/spinner.html'" ng-show="isLoading")
.container(ng-hide="isLoading")
    .row
        .col-md-12
            h2 Appointment Templates
    .row
        .col-md-12
            table.table.table-striped.appointmentTemplates
                thead
                    tr
                        td.name
                            strong Name
                        td.available-to
                            strong Available to
                        td.duration
                            strong Duration
                tbody
                    tr(ng-repeat='at in appointmentTemplates')
                        td(style="background-color: {{ at.color }}")
                            a(ng-show="canEdit" href="/appointments/settings/templates/{{ at._id }}") {{ at.name }}
                            span(ng-hide="canEdit") {{ at.name }}
                        td {{ at.resources }}
                        td {{ at.duration }} minutes
    .row
        .col-md-12
            a.btn.btn-default.btn-success.pull-right(href="/appointments/settings/templates/new" ng-show="canEdit") New Template
