form.form-horizontal(name="appointmentTemplateForm")
    .form-group(ng-class="{ 'has-error': appointmentTemplateForm.name.$error.required }")
        label.col-md-3.control-label(for="name") Template name*
        .col-md-9
            input.form-control(name="name" placeholder="Template name"
                               ng-model="appointmentTemplate.name" ng-required="true" ng-disabled="isSaving" autofocus)
    .form-group(ng-class="{ 'has-error': appointmentTemplateForm.resources.$error.required }")
        label.col-md-3.control-label(for="resources") Resources*
        .col-md-9
            resource-multi-selector(name="resources" placeholder="Select resources"
                                    ng-initial="initialResources" ng-model="appointmentTemplate.resources" ng-disabled="isSaving" ng-required="true")
    .form-group
        label.col-md-3.control-label(for="duration") Duration
        .col-md-9
            .input-group
                input.form-control(name="duration" placeholder="Duration"
                                   ng-model="appointmentTemplate.duration" ng-disabled="isSaving")
                .input-group-addon min
    .form-group
        label.col-md-3.control-label(for="color") Color
        .col-md-9
            spectrum-colorpicker(name="color" ng-model="appointmentTemplate.color" options="colorpickerOpts")
