div(ng-include="'views/dashboard/shell.html'")
h1 Templates
div(ng-include="'views/dashboard/communication/navbar-communication.html'")
.container
    .row
        .col-md-3.col-xs-6
            input.form-control(type="text" placeholder="Find")
        .col-xs-offset-1.col.xs-2
            button.btn.btn-success 
                span.glyphicon.glyphicon-plus-sign
                |  New template
    .row
        .voffset2
        table.table.table-hover
            tr
                th Last used
                th Type
                th Description
            tr(ng-repeat="template in templates")
                td {{ template.lastUsed | date:'d MMM y' }}
                td {{ template.templateType }}
                td 
                    a(href="/communication/settings/template/{{template.id}}") {{ template.description }}
