div(ng-include="'views/dashboard/shell.html'")
h1 Send {{messageType}}
div(ng-include="'views/dashboard/communication/navbar-communication.html'")
.container
    .row
        .col-md-6
            h3 Message
            .form-horizontal
                .form-group
                    .col-sm-offset-3
                        label.radio-inline.control-label
                            input#radSingle(type="radio" name="radioOptions" value="Single" ng-model="sendMode")
                            |  Single
                        label.radio-inline.control-label
                            input#radList(type="radio" name="radioOptions" value="List" ng-model="sendMode")
                            |  List
                .form-group
                    label.col-sm-2.control-label To:
                    .col-sm-10(ng-show="sendMode==='Single'")
                        client-multi-selector(ng-model="clients" placeholder="choose clients")

                    span(ng-show="sendMode==='List'")
                        .col-sm-10
                            input.form-control(placeholder="find list")
                .form-group
                    label.col-sm-2.control-label From:
                    .col-sm-10
                        select.form-control
                            option Me (my-name@site.com)
                            option Site (info@site.com)
                    //- .col-sm-5.voffset1 
                a(href="#" ng-click="hideAdvanced = !hideAdvanced")
                    span(ng-hide="hideAdvanced") Advanced...
                    span(ng-show="hideAdvanced") Hide advanced...
                .form-group(ng-show="hideAdvanced")
                    label.col-sm-2.control-label Relates to:
                    .col-sm-10
                        user-multi-selector(ng-model="users" placeholder="users this communication relates to")

                // .well
                hr

                .form-group
                    label.col-sm-3.col-xs-6.control-label Use template
                    .col-sm-4
                        input.form-control(id="message-template" type="text" ng-model="messageTemplate" placeholder="create from template" typeahead="template as template.name for template in templates | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" typeahead-editable="false" ng-change="templateChanged()")
                    .col-sm-5
                        a.btn.btn-default(ng-disabled="true")
                            span.glyphicon.glyphicon-plus-sign
                            |  New
                        | &nbsp;
                        a.btn.btn-default(ng-disabled="true")
                            span.glyphicon.glyphicon-edit
                            |  Replace
                .form-group
                    label.col-sm-3.col-xs-6.control-label Type:
                    .col-sm-4.col-xs-6
                        select.form-control(ng-model="messageType")
                            option SMS
                            option Email

                .row(ng-show="messageType=='Email'")
                    .col-xs-12
                        h4 Subject
                        textarea.form-control(msd-elastic="\n" smart-area="areaConfig" ng-model="template.subject" rows=1)
                .row
                    .col-xs-12
                        h4 Message
                        textarea.form-control(msd-elastic="\n" smart-area="areaConfig" ng-model="template.body")
                        p.pull-right.voffset1(ng-show="messageType=='SMS'" ng-class="smsCount()>1?'label label-danger':''") Number of sms's required: {{ smsCount() }}
                .row
                    .col-xs-12.voffset1
                        a(href="#" ng-click="hideOtherDetails = !hideOtherDetails")
                            span(ng-hide="hideOtherDetails") Edit summary...
                            span(ng-show="hideOtherDetails") Hide summary...
                        div(ng-show="hideOtherDetails")
                            h4 Summary
                            input.form-control(ng-model="template.summary" placeholder="summary to show in communication list")
                // .row
                //     .col-xs-12
                //         h4 Attachments

        .col-md-6
            h3 Preview
            .row(ng-show="sendMode==='List'")
                .col-sm-6
                    .input-group
                        .input-group-addon <
                        input.form-control.text-center(ng-disabled="true" ng-model="listCounter")
                        .input-group-addon >
                .col-sm-6
                    span {{ client.name }}
                    span(ng-show="messageType==='Email'")  ({{ client().email }})
                .col-sm-6(ng-show="messageType==='SMS'")  ({{ client().mobile }})
            .row(ng-show="messageType==='Email'")
                .col-xs-12
                    h4 Subject
                    .well.well-sm
                        p {{template.subject}}
            .row
                .col-xs-12
                    h4 Message
                    .well.well-sm
                        p {{template.body}}

    .row.pull-right
        // a.btn.btn-default(href="/communication/settings/templates") Cancel
        // | &nbsp;
        a.btn.btn-primary Send
