{% extends 'layout.html' %}
{% block content %}
<div class="row thumbnails">
	<div class="col-md-12">
			<div class="col-md-4 col-sm-6 col-xs-12 banner-thumbnail">
				<div class="thumbnail">
					<img src="/images/placeholder.jpg" alt="placeholder">
					<div class="caption">
						<h5>Thumbnail label</h5>
					</div>
				</div>
			</div>
		
			<div class="col-md-4 col-sm-6 col-xs-12 banner-thumbnail">
				<div class="thumbnail">
					<img src="/images/placeholder.jpg" alt="placeholder">
					<div class="caption">
						<h5>Thumbnail label</h5>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12 banner-thumbnail">
				<div class="thumbnail">
					<img src="/images/placeholder.jpg" alt="placeholder">
					<div class="caption">
						<h5>Thumbnail label</h5>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12 banner-thumbnail">
				<div class="thumbnail">
					<img src="/images/placeholder.jpg" alt="placeholder">
					<div class="caption">
						<h5>Thumbnail label</h5>
					</div>
				</div>
			</div>
	</div>
</div>
{% endblock %}