{% extends 'layout.html' %}
{% block content %}
<div class="thumbnails">
	<div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane" id="banners">
				<div class="table-responsive">
					<table class="table table-hover banners-table">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Url</th>
								<th>Created At</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for banner in banners %}
							<tr>
								<td>
									<span>
										{{ loop.index }}
									</span>
								</td>
								<td>{{ banner.name }}</td>
								<td>{{ banner.url || 'http://www.example.com' }}</td>
								<td>{{ banner.createdAt | date('d-m-Y')  }}</td>
								<td data-banner-id="{{ banner.id }}" data-banner-name="{{ banner.name }}">
									<button class="btn btn-primary preview-banner" data-json="{{ banner.data }}">
										<i class="fa fa-television"></i>
									</button>

									<button class="btn btn-success edit-banner" title="edit">
										<i class="fa fa-pencil-square-o"></i>
									</button>

									<button class="btn btn-danger delete-banner" title="delete" data-toggle="modal" data-target="#delete-modal">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<!-- Delete Banner Modal -->
				<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="delete-modal">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">
									Delete Banner
								</h4>
							</div>
							<div class="modal-body">
								<p class="text-danger">
									Do you really want to delete  
									<span class="delete-banner-name"></span>
									?
								</p>
							</div>
							<div class="modal-footer">
								<button href="#" class="btn btn-danger modal-banner-delete">
									Delete
								</button>
								<button class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane" id="statistics">
				<div class="table-responsive">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Data Created</th>
								<th>Data Updated</th>
								<th>Views</th>
								<th>Clicks</th>
							</tr>
						</thead>
						<tbody>
							{% for banner in banners %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ banner.name }}</td>
								<td>{{ banner.createdAt | date('d-m-Y') }}</td>
								<td>{{ banner.updatedAt | date('d-m-Y') }}</td>
								<td>{{ banner.views }}</td>
								<td>{{ banner.clicks }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="small-square">
				<div class="small-square-template template">
					<div class="tools">
						<button class="btn btn-default" data-width="200" data-height="200">Preview</button><br>
						<button class="btn btn-primary use-this" data-width="200" data-height="200">Use This</button>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="standard-banner">
				<div class="standard-banner-template template">
					<div class="tools">
						<button class="btn btn-default" data-width="300" data-height="300">Preview</button><br>
						<button class="btn btn-primary use-this" data-width="300" data-height="300">Use This</button>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="leader-board">
				<div class="leader-board-template template">
					<div class="tools">
						<button class="btn btn-default" data-width="728" data-height="90">Preview</button><br>
						<button class="btn btn-primary use-this" data-width="728" data-height="90">Use This</button>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="skyscraper">
				<div class="skyscraper-template template">
					<div class="tools">
						<button class="btn btn-default" data-width="120" data-height="600">Preview</button><br>
						<button class="btn btn-primary use-this" data-width="120" data-height="600">Use This</button>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="wide-skyscraper">
				<div class="wide-skyscraper-template template">
					<div class="tools">
						<button class="btn btn-default" data-width="160" data-height="600">Preview</button><br>
						<button class="btn btn-primary use-this" data-width="160" data-height="600">Use This</button>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="custom-size">
			<div class="scrollable">
					<div class="custom-size-rectangle">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}