<div class="all-modals">
	<!-- Delete Banner Modal -->
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="delete-modal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-danger" align="center">
						Delete Banner
					</h4>
				</div>
				<div class="modal-body">
					<p class="text-danger">
						Do you really want to delete
						"<span class="delete-banner-name"></span>"
						?
					</p>
				</div>
				<div class="modal-footer">
					<button href="#" class="btn btn-danger modal-banner-delete">
						Delete
					</button>
					<button class="btn btn-default" data-dismiss="modal">
						Cancel
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Preview Modal -->
	<div class="modal fade in" id="preview-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content prewiew-content">
			<div class="modal-header preview-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h4 class="modal-title" align="center"> Preview </h4>
			</div>
			<div class="modal-body">
				<div class="preview-content">
					<div class="preview-banner">
					</div>
				</div>
			</div>
			<div class="modal-footer preview-footer">
				<button class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
			</div>

		</div>
	</div>
</div>