<div class="side-bar">
	<div class="row current-user">
		<a href="/dashboard" class="avatar">
			<span>
				<img src="{{ user.facebook.avatar || user.google.avatar }}" alt="profile image" class="img img-circle">
			</span>
		</a>
		<span class="username" data-toggle="popover">
			{{ user.facebook.name || user.google.name }}
			<i class="fa fa-caret-right"></i>
		</span>
	</div>

	<div class="row dashboard-ul">
		<ul class="list-unstyled">
			<li>
				<a href="/dashboard">
					<i class="fa fa-list"></i>
					<span>All banners <span class="badge banner-count">0</span></span>
					<div class="triangle-right"></div>
				</a>
			</li>
			<li>
				<a href="/dashboard/banner/new">
					<i class="fa fa-bar-chart"></i>
					<span>New Banner</span>
					<div class="triangle-right"></div>
				</a>
			</li>
			<li>
				<a href="/dashboard/banner/statistics">
					<i class="fa fa-bar-chart"></i>
					<span>Statistics</span>
					<div class="triangle-right"></div>
				</a>
			</li>
		</ul>
	</div>

	<div class="row logo-div">
		<img src="/images/logo.png" alt="website logo" class="img img-cirlce">
		<span><i>Design, Build, Publish Banners</i></span>
	</div>
</div>