.modal-header
    h3.modal-title Create New Client
.modal-body.edit-region-modal
    .container-fluid
        .row
            .col-md-12
                include ./form.jade
.modal-footer
    button.btn.btn-default.btn-primary(ng-click="createClient()", ng-disabled="clientForm.$invalid || isSaving") Create
    span &nbsp;
    button.btn.btn-default(ng-click="cancel()") Cancel
