div(ng-include="'views/account/navbar-account.html'")
div(ng-include="'views/dashboard/navbar-dashboard.html'")

.container
    .row
        .col-md-offset-3.col-md-6
            h2 Create New Client
    
    .row
        .col-md-offset-3.col-md-6
            include ./form.jade

    .row
        .col-md-9
            .pull-right
                a.btn.btn-default(href="/clients") Cancel
                | &nbsp;
                button.btn.btn-primary(ng-click="createClient()", ng-disabled="clientForm.$invalid || isSaving") Create

