.container
    .row
        .col-md-12
            h2 {{ client.name }}
    .row
        .col-sm-4
            div(ng-show="client.pic")
                img.img-thumbnail.img-responsive(profile-img="client" profile-type="client" profile-size="large")
        .col-sm-4
            h4 Info
            p.text-muted(ng-show="client.status !== 'Active'") Status:&nbsp;
                span.text-default.label.label-danger {{ client.status }}
            p.text-muted(ng-show="client.firstName !== client.knownAs") First name:
                span.text-default {{ client.firstName }}
            p.text-muted Email:&nbsp;
                span.text-default {{ client.email }} 
                a(href="/communication/message?clientId={{client.Id}}&messageType=email")
                    span.glyphicon.glyphicon-envelope
            p.text-muted Phone:
                span.text-default {{ client.mobile }} 
                a(href="/communication/message?clientId={{client.Id}}&messageType=sms")
                    span.glyphicon.glyphicon-phone
                | &nbsp;
                a(href="/communication/call?clientId={{client.Id}}")
                    span.glyphicon.glyphicon-phone-alt
            p.text-muted(ng-show="client.occupation") Occupation:
                span.text-default {{ client.occupation }}
            p.text-muted(ng-show="client.hobbies") Hobbies:
                span.text-default {{ client.hobbies }}
            p.text-muted Last visit:
                span.text-default {{ client.stats.appointments.lastVisits || 'none' }}
            p.text-muted Next:&nbsp;
                span.text-default(ng-class="client.stats.appointments.nextAppointments.start ? '' : 'label label-danger'") {{ client.stats.appointments.nextAppointments.start || 'none' }}
            div(ng-hide="isDisplayAdditional")
                p.text-muted
                    a.ng-action(ng-click="showMore()") Show more...
            div(ng-show="isDisplayAdditional")
                p.text-muted Other phone:
                    span.text-default {{ client.phone }}
                p.text-muted Address:
                    span.text-default {{ client.address }}
                p.text-muted Date of birth:
                    span.text-default {{ (client.dob | date: 'dd MMM yyyy') || 'undefined' }}
                    span.text-default(ng-show="client.age") ({{ client.age }} yoa)
        .col-sm-4
            h4 Preferences
            .checkbox
                label
                    input(type="checkbox" ng-disabled="true")
                    | SMS reminder all appointments
            p.text-muted Reminder SMS:
                span.text-default {{ client.remindMinBefore }} 30 min before
            p.text-muted Calendar alarm:
                span.text-default {{ client.remindMinCalendar }} 30 min before
            hr
            h4 Actions
            p
                a(ng-click="smsIcal()")
                    span.glyphicon.glyphicon-send
                    |  SMS calendar link
            p
                a(href="/appointments?clientId={{ client._id }}")
                    span.glyphicon.glyphicon-calendar
                    |  View appointments
            p
                a(href="communication/message/user")
                    span.glyphicon.glyphicon-asterisk
                    |  To do
            p
                a(href="communication/note")
                    span.glyphicon.glyphicon-pencil
                    |  Note

    
    .row
        .col-xs-12
            .pull-right
                a.btn.btn-primary(href="/clients/{{ client._id }}/edit") Edit
