.navbar.navbar-default
    .container-fluid
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href="/clients") Summary
                li
                    a(href="#") Admin
                li
                    a(href="#") Accounts
                li
                    a(href="#") Clinical
            ul.nav.navbar-nav.navbar-right
                li
                    a
                        span.glyphicon.glyphicon-cog
