div(ng-include="'views/account/navbar-account.html'")
div(ng-include="'views/dashboard/navbar-dashboard.html'")

.container
    .row
        .col-md-offset-3.col-md-6
            h2 Create New Dashboard
    
    .row
        .col-md-offset-3.col-md-6
            include ./form.jade