| Welcome to Zurili!
| For health professionals who care
| ---------------------------------
| #{user.firstName} #{user.lastName} had changed their email address to #{emailTo}
| To confirm this change, please click on the following link:
| #{tokenUrl}