h1 Zurili
p For health professionals who care
hr
h2 Hi #{user.firstName}. You need to confirm your email change.
p You new address will be #{emailTo}.
p Please <a href='#{tokenUrl}'>click here</a> to confirm this change.
p
p If you did not make this request, simply ignore this email.