h1 Welcome to Zurili!
p For health professionals who care
hr
h2 We are excited to serve you #{user.firstName}.
p Please <a href='#{tokenUrl}'>click here</a> to confirm your email and finish setting up your new account.