| Welcome to Zurili!
| For health professionals who care
| ---------------------------------
| We are excited to serve you #{user.firstName}.
| To confirm your email and finish setting up your new account, please click on the following link:
| #{tokenUrl}