| Welcome to Zurili!
| For health professionals who care
| ---------------------------------
| Hi #{user.firstName}.
| You have been invited to join #{user.currentSite.name}.
| Please click the link below to confirm your email and start getting to work.
| #{tokenUrl}