h1 Welcome to Zurili!
p For health professionals who care
hr
h2 Hi #{user.firstName}.
p You have been invited to join #{user.currentSite.name}.
p Please <a href='#{tokenUrl}'>click here</a> to confirm your email and start getting to work.