h1 Zurili
p For health professionals who care
hr
h2 Hi #{user.firstName}. You have requested to reset your password.
p Please <a href='#{tokenUrl}'>click here</a> to reset your password now.
p If you have received this email in error, just ignore it.