.presentation-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.slide-heart {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #545252;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

textarea {
	background: transparent;
	box-sizing: border-box;
	max-height: 160px;
	min-height: 20px;
	overflow-x: hidden;
	border: 0 none white;
	overflow: hidden;
	padding: 0;
	outline: none;
	resize: none;
}

.slide-control {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 40px;
	width: 100%;
	background: #000;
	float: none;
	margin-left: 0px;
	opacity: 0.8;
	text-align: center;
	z-index: 10000;
}

.left-slide, .right-slide {
	height: 40px;
	width: 50px;
}

.slide-control span {
	color: white;
	margin-left: 50px;
	margin-right: 50px;
}