.navbar.navbar-default.settings-hide
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-communication")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-brand.visible-xs Menu
    .navbar-collapse.collapse(id="navbar-communication")
            ul.nav.navbar-nav.auto-active
                li
                    a(href="/communication/events") Events
                li
                    a(href="/communication/lists") Lists
                li.dropdown
                    a.dropdown-toggle(href="#" data-toggle="dropdown")
                        span.glyphicon.glyphicon-envelope
                        |  Message&nbsp;
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li
                            a(href="communication/message")
                                span.glyphicon.glyphicon-envelope
                                |  SMS/Email
                        li
                            a(href="communication/message/user")
                                span.glyphicon.glyphicon-asterisk
                                |  To do
                li
                    a(href="communication/call")
                        span.glyphicon.glyphicon-phone-alt
                        |  Call
                li
                    a(href="communication/note")
                        span.glyphicon.glyphicon-pencil
                        |  Note
            ul.nav.navbar-nav.navbar-right.auto-active
                li
                    a(href="/communication/settings")
                        span.glyphicon.glyphicon-cog

.navbar.navbar-inverse.settings-show
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-communication-settings")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-brand.visible-xs Menu
    .navbar-collapse.collapse(id="navbar-communication-settings")
            ul.nav.navbar-nav.auto-active
                li
                    a(href="/communication/settings/templates") Templates
            ul.nav.navbar-nav.navbar-right.auto-active
                li
                    a(href="/communication")
                        span.glyphicon.glyphicon-cog
