.appointment-details
    .modal-header
        h3.modal-title {{ appointment.appointmentTypeName }}
        div(ng-show="appointment.clients.length > 0")
            strong.title For:
            span(ng-repeat="client in appointment.clients")
                a(href="#" ng-click="openClientView(client)")
                    img.profile-small(profile-img="client" profile-type="client" profile-size="small" profile-defimg="/images/man64.png")
                    span {{ client.firstName }}
        div(ng-show="appointment.resources.length > 0")
            strong.title With:
            span(ng-repeat="resource in appointment.resources")
                img.profile-small(profile-img="resource" profile-type="resource" profile-size="small" profile-defimg="/images/man64.png")
                span {{ resource.name }}
    .modal-body
        .container-fluid
            .row
                .col-md-12
                    div(ng-include="'views/common/spinner.html'" ng-show="isLoading")
                    div(ng-hide="isLoading")
                        table.table.table-striped
                            tbody
                                tr
                                    td.title Time:
                                    td {{ appointment.start | date: 'dd MMM yyyy, EEEE, hh:mm a' }}
                                tr
                                    td.title Duration:
                                    td {{ appointment.duration }} min
                                tr
                                    td.title Note:
                                    td {{ appointment.note }}

    .modal-footer
        button.btn.btn-primary(ng-click="edit()") Edit
        span &nbsp;
        button.btn.btn-default(ng-click="close()") Close
