.well
    h4 Automations (for {Selected client})
    table.table.table-hover
        thead
            tr
                th
                th Trigger
                th Action
                th.text-center
        tbody
            tr
                td.text-center
                    span.glyphicon.glyphicon-ok-circle.text-success
                td When create
                td Email welcome
                td
            tr
                td.text-center
                    span.glyphicon.glyphicon-exclamation-sign.text-danger
                td 1 day before start time
                td SMS Reminder
                td.text-center
                    span.glyphicon.glyphicon-repeat.text-success
                    | &nbsp;
                    span.glyphicon.glyphicon-pencil(popover-template="automationEditTemplate.templateUrl"
                                                    popover-title="{{automationEditTemplate.title}}" popover-placement="left")
            tr
                td.text-center
                    span.glyphicon.glyphicon-time.text-warning
                td When complete 
                td Email Workshop
                td.text-center
                    span.glyphicon.glyphicon-remove-circle.text-danger 
                    | &nbsp;
                    span.glyphicon.glyphicon-pencil(popover-template="automationEditTemplate.templateUrl"
                                                    popover-title="{{automationEditTemplate.title}}" popover-placement="left")
    a.btn.btn-default
        span.glyphicon.glyphicon-time
        span &nbsp;Set Reminder
    | &nbsp;
    a.btn.btn-success(href="/appointments/automations/edit")
        span.glyphicon.glyphicon-plus-sign
        span &nbsp;Other
