.navbar.navbar-default.settings-hide
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-appointments")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-brand.visible-xs Menu
    .navbar-collapse.collapse(id="navbar-appointments")
            ul.nav.navbar-nav.auto-active
                li
                    a(href="/appointments") Appointments
                //li
                //    a(href="/appointments/reminders") Reminders
                //li
                //    a(href="/appointments/flow") Flow
                //li
                //    a(href="/appointments/reports") Reports
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="#" title="Save as default" ng-click="saveAsDefault()")
                        span.glyphicon.glyphicon-star
            ul.nav.navbar-nav.navbar-right.auto-active
                li
                    a(href="/appointments/settings" title="Settings")
                        span.glyphicon.glyphicon-cog

.navbar.navbar-inverse.settings-show
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-appointments-settings")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-brand.visible-xs Menu
    .navbar-collapse.collapse(id="navbar-appointments-settings")
            ul.nav.navbar-nav.auto-active
                li
                    a(href="/appointments/settings/resources") Resources
                li
                    a(href="/appointments/settings/templates") Templates
                //li
                //    a(href="/appointments/settings/appearance") Appearance
            ul.nav.navbar-nav.navbar-right.auto-active
                li
                    a(href="/appointments")
                        span.glyphicon.glyphicon-cog
