div(ng-include="'views/dashboard/settings/shell.html'")

div(ng-include="'views/common/spinner.html'" ng-show="isLoading")
.container-fluid(ng-hide="isLoading")
    .row
        .col-lg-6
            .panel.panel-default
                .panel-heading.text-center Account overview (AUD)
                .panel-body
                        .row
                            .col-xs-2 Plan
                            .col-xs-6 Bronze
                            .col-xs-4
                                a.btn.btn-default
                                    span.glyphicon.glyphicon-cog
                                    |  Change plan
                        .row.voffset1
                            .col-xs-2 Payment
                            .col-xs-6.address
                                | Visa 4*** **** **** 1234 <br>
                                | Exp 12/2018 <br>
                                | Next payment 2015-06-30 <br>
                                | Amount $30
                            .col-xs-4
                                button.btn.btn-default
                                    span.glyphicon.glyphicon-credit-card
                                    |  Change card
                        .row.voffset1
                            .col-xs-2 Extra info 
                                span.glyphicon.glyphicon-question-sign(data-toggle="tooltip" data-placement="top" title="Extra info you want on your receipt like tax id number, address etc")
                            .col-xs-6.address None entered
                            .col-xs-4
                                a.btn.btn-default
                                    span.glyphicon.glyphicon-pencil
                                    |  Change info
                        .row.voffset1
                            .col-xs-2 SMS credit 
                            .col-xs-6.address
                                | Balance $14.64 <br>
                                | Auto-topup threshold $10.00 <br>
                                | Auto-topup amount $100.00
                            .col-xs-4
                                a.btn.btn-default
                                    span.glyphicon.glyphicon-open
                                    |  Top up
                        .row.voffset1
                            .col-xs-2 Receipts
                            .col-xs-6.address
                                | Email receipts to richardsawyer123@hotmail.com <br>
                                | (Receipts not emailed)
                            .col-xs-4
                                a.btn.btn-default
                                    span.glyphicon.glyphicon-envelope
                                    |  Change address
        .col-lg-6
            .panel.panel-default
                .panel-heading.text-center Payment history (AUD)
                .panel-body
                    table.table.table-hover
                        tr
                            th
                            th Date
                            th Amount
                            th Description
                            th Payment method
                            th.text-center Receipt
                        tr
                            td.text-center.text-success
                                span.glyphicon.glyphicon-ok
                            td 2015-05-30
                            td $40.00
                            td Silver membership
                            td Visa 4*** **** **** 1234
                            td.text-center
                                span.glyphicon.glyphicon-cloud-download
                    p Add paging for > 20 entries

script.
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })