.navbar.navbar-inverse
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-settings")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .navbar-brand.visible-xs Settings Menu
        .navbar-collapse.collapse(id="navbar-settings")
            ul.nav.navbar-nav.auto-active
                li
                    a(href="/settings/profile") Profile
                li
                    a(href="/settings/account") Account
                li
                    a(href="/settings/users") Users
                li
                    a(href="/settings/sites") Sites
                li
                    a(href="/settings/api") API
