div(ng-include="'views/dashboard/shell.html'")
h1 {{event.eventType}}: {{event.eventSummary}}
div(ng-include="'views/dashboard/communication/navbar-communication.html'")
.container
    .row
        .col-xs-12
            p.text-muted Date:&nbsp;
                span.text-default {{ event.eventDate | date:'d MMM y h:mm a' }}
            p.text-muted Status:&nbsp;
                span(ng-class="{'label label-danger' : event.eventStatus == 'Unread' || event.eventStatus == 'Failed', 'label label-warning' : event.eventStatus == 'Sending', 'label label-success' : event.eventStatus == 'Read'}") {{ event.eventStatus }}
            p.text-muted Client:&nbsp;
                a.text-default(href="clients/{{event.clientId}}") {{ event.clientName }}

    .row(ng-show="event.eventType === 'Email received' || event.eventType === 'Email sent'")
        .col-xs-12
            p.text-muted Summary:&nbsp;
                span.glyphicon.glyphicon-pencil(ng-hide="editingSummary" ng-click="editingSummary=!editingSummary")
                span.glyphicon.glyphicon-remove(ng-show="editingSummary" ng-click="editingSummary=!editingSummary")
                div(ng-hide="editingSummary")
                    .well.well-sm {{ event.eventSummary }}
                .row(ng-show="editingSummary")
                    .col-sm-10
                        input.form-control(ng-model="event.eventSummary")
                    .col-sm-2
                        button.btn.btn-primary(ng-click="editingSummary=!editingSummary") Save
            div(ng-show="event.subject !== event.eventSummary")
                p.text-muted Subject:
                    .well.well-sm {{ event.subject }}
            p.text-muted Body:
                .well.well-sm {{ event.body }}

    .row
        .col-xs-12
            p(ng-click="hideOtherDetails = !hideOtherDetails")
                span(ng-hide="hideOtherDetails") Show more...
                span(ng-show="hideOtherDetails") Show less...
            .row(ng-show="hideOtherDetails")
                .col-xs-12
                    p.text-muted To:
                        span.text-default {{ event.toAddress }}
                    p.text-muted From:
                        span.text-default {{ event.fromAddress }}


