div(ng-include="'views/dashboard/shell.html'")
h1 Events
div(ng-include="'views/dashboard/communication/navbar-communication.html'")
.container-fluid
    .row
        .btn-group
            button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                span.glyphicon.glyphicon-plus-sign
                |  New event&nbsp;
                span.caret
            ul.dropdown-menu
                li
                    a(href="/communication/message/user")
                        span.glyphicon.glyphicon-asterisk
                        |  To do
                li
                    a(href="/communication/note")
                        span.glyphicon.glyphicon-pencil
                        |  Note
                li
                    a(href="/communication/message")
                        span.glyphicon.glyphicon-envelope
                        |  Email/SMS
                li
                    a(href="/communication/call")
                        span.glyphicon.glyphicon-phone-alt
                        |  Call
    .row.voffset2
        table.table.table-hover
            tr
                td
                td
                    input.form-control(placeholder = 'filter by client' ng-model="searchClient.clientName")
                td
                    input.form-control(placeholder = 'filter by type' ng-model="searchClient.eventType")
                td
                    a.btn.btn-default(ng-click="btnUnreadClick()") {{ btnLabel }}
                td
                    a.btn.btn-default(ng-click="clearFilters()") Clear filters

            tr(ng-repeat="event in events | filter:searchClient")
                td {{ event.eventDate | date:'d MMM y h:mm a'}}
                td 
                    a(ng-click="searchByClient(event.clientName)") {{ event.clientName }}
                td
                    a(ng-click="searchByType(event.eventType)")
                        span(ng-class="event.eventType.indexOf('received') > -1 ? 'text-success glyphicon glyphicon-arrow-right' : ''")
                        span(ng-class="event.eventType.indexOf('sent') > -1 ? 'text-danger glyphicon glyphicon-arrow-left' : ''")
                        span(ng-class="event.eventType.indexOf('SMS') > -1 ? 'glyphicon glyphicon-phone' : ''")
                        span(ng-class="event.eventType.indexOf('Email') > -1 ? 'glyphicon glyphicon-envelope' : ''")
                        span(ng-class="event.eventType.indexOf('Call') > -1 ? 'glyphicon glyphicon-phone-alt' : ''")
                        span(ng-class="event.eventType.indexOf('Service') > -1 ? 'glyphicon glyphicon-pencil' : ''")
                        span(ng-class="event.eventType.indexOf('Conversation') > -1 ? 'glyphicon glyphicon-eye-open' : ''")
                        span(ng-class="event.eventType.indexOf('Document') > -1 ? 'glyphicon glyphicon-paperclip' : ''")
                        span(ng-class="event.eventType.indexOf('Image') > -1 ? 'glyphicon glyphicon-picture' : ''")
                    a(ng-click="searchByType(event.spName)")  {{event.spName}}
                td
                    span(ng-class="{'label label-danger' : event.eventStatus == 'Unread' || event.eventStatus == 'Failed', 'label label-warning' : event.eventStatus == 'Sending', 'label label-success' : event.eventStatus == 'Read'}") {{ event.eventStatus }}
                td
                    a(href="communication/events/{{event.id}}") {{event.eventSummary}}
                
        