<ul class="dropdown-menu baner-size-dropdown" aria-labelledby="animdropdown" id="animationDropdown" aria-haspopup="true" aria-expanded="false">
	<!-- header -->
	<li class="animation-dropdaun-header">
		<div class="header-menu-item splitter active" id="enter-stage">Enter Stage</div>
		<div class="header-menu-item splitter" id="exit-stage">Exit Stage</div>
		<div class="header-menu-item" id="complex">Complex</div>
	</li>
	<!-- enter stage -->
	<li class="animation-dropdaun-content" id="enter-stage-content" >
		<div class="start-time">
			<i class="fa fa-clock-o"></i>
			Start Time :
			<input type="number" value="1" class="enter-start-time">
			Sec.
		</div>
		<div class="speed">
			<i class="fa fa-clock-o"></i>
			Speed :
			<input type="number" value="1" class="enter-delay">
			Sec.
		</div>
		<hr>
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="none">None</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="flyFromLeft">Fly From Left</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="flyFromRight">Fly From Right</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="flyFromTop">Fly From Top</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="flyFromBottom">Fly From Bottom</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="popIn">PopIn</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="fadeIn">FadeIn</a>
		</div >
	</li>
	<!-- exit stage -->
	<li class="animation-dropdaun-content" id="exit-stage-content" style="display:none;">
		<div class="start-time">
			<i class="fa fa-clock-o"></i>
			Start Time :
			<input type="number" value="1" class="exit-start-time">
			Sec.
		</div>
		<div class="speed">
			<i class="fa fa-clock-o"></i>
			Speed :
			<input type="number" value="1" class="exit-delay">
			Sec.
		</div>
		<hr>
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="none">None</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="flyToLeft">Fly To Left</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="flyToRight">Fly To Right</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="flyToTop">Fly To Top</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="flyToBottom">Fly To Bottom</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="popOut">PopOut</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="fadeOut">FadeOut</a>
		</div >
	</li>
	<!-- complex -->
	<li class="animation-dropdaun-content" id="complex-content" style="display:none;">
		<div class="start-time">
			<i class="fa fa-clock-o"></i>
			Start Time :
			<input type="number" value="1" class="complex-start-time">
			Sec.
		</div>
		<hr>
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="none">None</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="rotate">Rotate</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="hingle">Hingle</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="flip">Flip</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="rollIn">Roll</a>
		</div >
		<div class="animation-button">
			<a href="javascript:void(0)" class="btn btn-block" data-animation="lightSpeedIn">Light Speed</a>
		</div >
	</li>
	<!-- footer -->
	<li class="animation-dropdown-footer" >
		<button type="button" class="btn btn-danger" id="animation-close-btn">Close</button>
		<button type="button" class="btn btn-success" id="animation-save-btn">Save</button>
	</li>

</ul>