<div class="modal fade" id="publish" role="dialog">
  <div class="modal-dialog">
  
    <div class="modal-content publish-content">
      <div class="modal-header publish-header">
        <button type="button" class="close" data-dismiss="modal" style="color:#FFF;">x</button>
        <h4 class="modal-title">Publish</h4>
      </div>
      <div class="modal-body">
        <div class="publish-content" >
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#embed" aria-controls="embed" role="tab" data-toggle="tab">   Embed To a Site
              </a>
            </li>
            <li >
              <a href="#player" aria-controls="player" role="tab" data-toggle="tab">
                Player
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="embed">
              <p>
                Copy the code below (fixed or responsive) and paste it (embed) to any of your website or blogs.
              </p>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#fixed" aria-controls="fixed" role="tab" data-toggle="tab">
                    Fixed Banner
                  </a>
                  </li>
                <li role="presentation">
                  <a href="#responsive" aria-controls="responsive" role="tab" data-toggle="tab">
                    Responsive Banner
                  </a>
                  </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="fixed">
                  <textarea class="link-area" cols="63" rows="5" id="publish-fixed-textarea">
                    {% include "../embed/fixed-iframe.html" %}
                  </textarea>
                  <button type="button" class="btn btn-sm btn-primary copy-btn copy-fixed-btn">Copy</button>
                </div>
                <div role="tabpanel" class="tab-pane" id="responsive" >
                  <textarea class="link-area" cols="63" rows="5" id="publish-responsive-textarea">
                    {% include "../embed/responsive-iframe.html" %}
                  </textarea>
                  <button type="button" class="btn btn-sm btn-primary copy-btn copy-responsive-btn">Copy</button>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="player">
              <label class="repeat-label">
                <input type="checkbox" checked="checked"> Repeat 
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer publish-footer">
      </div>
    </div>
    
  </div>
</div>
