<div class="modal fade" id="publish" role="dialog">
  <div class="modal-dialog">
  
    <div class="modal-content publish-content">
      <div class="modal-header publish-header">
        <button type="button" class="close" data-dismiss="modal" style="color:#FFF;">x</button>
        <h4 class="modal-title">Publish</h4>
      </div>
      <div class="modal-body">
        <div class="publish-content" >
          <div class="publish-menu">
            <ul>
              <li id="publish-embed" class="publish-active">
                Embed To a Site
              </li>
              <li id="publish-player">
                Player
              </li>
              <li id="publish-download">
                Download
              </li>
            </ul>
          </div>
          <ul class="menu-contents">
            <li  class="embed-content">
              <p>
                Copy the code below (fixed or responsive) and paste it (embed) to any of your website or blogs.
              </p>
              <div class="embed-menu" >
                <ul>
                  <li id="fixed" class="active">
                    Fixed  
                  </li>
                  <li id="responsive">
                    Responsive  
                  </li>
                </ul>
              </div>
              <textarea class="link-area" ></textarea>
              <button type="button" class="btn btn-sm btn-success copy-btn">Copy</button>
            </li>
            <li class="player-content" style="display:none;">
              <label class="repeat-label">
                <input type="checkbox" value="" /> Repeat 
              </label>
            </li>
            <li class="download-content" style="display:none;">
              <!-- TODO -->
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer publish-footer">
      </div>
    </div>
    
  </div>
</div>
