<div class="sidebar">
	<div class="cabinet-left">
		<div class="cabinet-drawer ">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-background"></div>
			</div>
			<div class="cabinet-box">
				<h1>Background options must be there</h1>
			</div>
		</div>
		<div class="cabinet-drawer">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-shapes"></div>
			</div>
			<div class="cabinet-box">
				<h3>Multiple Drawers</h3>
				<p>
					A cabinet have multiple drawers.
					Display switches to each drawer.
				</p>
			</div>
		</div>
		<div class="cabinet-drawer">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-image"></div>
			</div>
			<div class="cabinet-box">
				<h3>Multiple Drawers</h3>
				<p>
					A cabinet have multiple drawers.
					Display switches to each drawer.
				</p>
			</div>
		</div>
		<div class="cabinet-drawer">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-video"></div>
			</div>
			<div class="cabinet-box">
				<h3>Multiple Drawers</h3>
				<p>
					A cabinet have multiple drawers.
					Display switches to each drawer.
				</p>
			</div>
		</div>
		<div class="cabinet-drawer">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-audio"></div>
			</div>
			<div class="cabinet-box">
				<h3>Multiple Drawers</h3>
				<p>
					A cabinet have multiple drawers.
					Display switches to each drawer.
				</p>
			</div>
		</div>
	</div>
</div>