<div class="sidebar">
	<div class="cabinet-left">
		<div class="cabinet-drawer ">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-background"></div>
			</div>
			<div class="cabinet-box bg-box">
				<h3>Backgrounds</h3>
				<div id="bg-colpicker" class="bg-colpicker bg-item">
					<div class="addcolor"></div>
				</div>
				<div class="bg-item" style="clear:both; background-color:#FF0000;"></div>
				<div class="bg-item" style="background-color:#00FF00;"></div>
				<div class="bg-item" style="background-color:#0000FF;"></div>
				<div class="bg-item" style="background-color:#FFFF00;"></div>
				<div class="bg-item" style="background-color:#800080;"></div>
				<div class="bg-item" style="background-color:#FFC0CB;"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/background-1036107_640.png');"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/background-1036108_640.png')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/background-1051113_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/background-1061989_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/background-1062047_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/belts-193229_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/binary-code-475664_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/black-1072366_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/brick-258938_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/brick-wall-185085_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/colors-185425_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/gold-1065691_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/leather-1080343_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/leather-1080344_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/pencils-452238_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/seamless-pattern-1085307_640.png')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/texture-1075994_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/background/wood-1078981_640.jpg')"></div>
			</div>
		</div>
		<div class="cabinet-drawer">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-shapes"></div>
			</div>
			<div class="cabinet-box">
				<h3>Multiple Drawers</h3>
				<p>
					A cabinet have multiple drawers.
					Display switches to each drawer.
				</p>
			</div>
		</div>
		<div class="cabinet-drawer">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-image"></div>
			</div>
			<div class="cabinet-box image-box">
				<h3>Images</h3>
				<div class="upload">
					<label>Upload:</label>
					<input type="filepicker" data-fp-apikey="AUMJQ4CG4QXuwFINqyvG5z" onchange="alert(event.fpfile.url)">
				</div>	
				<br>
				<div class="bg-item bg-image" style="background-image: url('/images/images/deer-1076245_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/dictionary-932327_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/dog-1061976_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/electric-1080585_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/fountain-pen-1053697_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/frog-927764_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/guitar-1031192_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/kitten-1069777_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/laptop-keyboard-1036970_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/music-989909_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/piano-1011440_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/polar-bear-1082461_640.jpg')"></div>
				<div class="bg-item bg-image" style="background-image: url('/images/images/saxophone-918904_640.jpg')"></div>
			</div>
		</div>
		<div class="cabinet-drawer">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-video"></div>
			</div>
			<div class="cabinet-box">
				<h3>Video</h3>
				<div class="upload">
					<label>Upload:</label>
					<input type="filepicker" data-fp-apikey="AUMJQ4CG4QXuwFINqyvG5z" onchange="alert(event.fpfile.url)">
				</div>
				<div class="youtube-video">
					<div class="form-group">
					  	<label>Youtube Link:</label>
					  	<input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=WWtOz7GVxJM">
					</div>
				</div>
			</div>
		</div>
		<div class="cabinet-drawer">
			<div class="cabinet-knob">
				<div class="cabinet-icon cabinet-audio"></div>
			</div>
			<div class="cabinet-box">
					<h3>Audio</h3>
				<div class="upload">
					<label>Upload:</label>
					<input type="filepicker" data-fp-apikey="AUMJQ4CG4QXuwFINqyvG5z" onchange="alert(event.fpfile.url)">
				</div>
			</div>
		</div>
	</div>
</div>