.panel.panel-primary
    .panel-heading.text-center
        .panel-title Dr Richard Chiropractic (site.name)
    .panel-body
        p The natural place for your family's health (site.description)
        table.table
            tr(ng-repeat="resource in resources")
                td 
                    div(ng-show="resource.pic")
                        img.img-thumbnail.img-responsive(profile-img="resource" profile-type="resource" profile-size="small")
                td(style="vertical-align: middle;")
                    h4 {{ resource.name }}
                    p {{ resource.description }}

