div(ng-include="'views/dashboard/settings/shell.html'")

div(ng-include="'views/common/spinner.html'" ng-show="isLoading")
.container(ng-hide="isLoading")
    .row
        .col-md-12
            h2 Your Profile
    .row
        .col-md-2
            div(ng-show="user.pic")
                img.img-thumbnail.img-responsive(profile-img="user" profile-type="user" profile-size="large")
        .col-md-10
            p.text-muted First name:
                span.text-default {{ user.firstName }}
            p.text-muted Last name:
                span.text-default {{ user.lastName }}
            p.text-muted Display name:
                span.text-default {{ user.displayName }}
            p.text-muted Email:
                a.text-default(href="mailto:{{ user.email }}") {{ user.email }}
            p.text-muted Password:
                span.text-default ********
    .row
        .col-md-12
            .pull-right
                a.btn.btn-default(href="/dashboard") Cancel
                |&nbsp;
                a.btn.btn-primary(href="/settings/profile-edit") Edit
