div(ng-controller="PicUploaderCtrl")
    .row(ng-hide="isUploadingPic")
        .col-md-offset-2.col-md-8
            .well.text-center(ng-hide="isImageUploading" ngf-select ngf-drop ng-model="files" ngf-change="uploadPic($files)" 
                              ngf-drag-over-class="dragover" ngf-capture="'camera'" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'")
                div Drop Image here
                div Or Click to select
                div(ngf-no-file-drop) File Drag/Drop is not supported for this browser
        
    .row(ng-hide="isUploadingPic")
        .col-md-offset-2.col-md-4
            div Source
            div
                img-crop(on-load-done="imgLoaded=true" image="myImage" area-type="square"
                         result-image="myCroppedImage" result-image-format="image/jpeg"  result-image-size="300" style="width:300px; height:300px;")
        .col-md-4
            div New profile pic
            div
                img.img-thumbnail.img-responsive(ng-show="imgLoaded" ng-src="{{myCroppedImage}}")

    .row(ng-show="isUploadingPic")
        .col-md-offset-2.col-md-8.text-center
            div(ng-include="'views/common/spinner.html'")
            div.text-center
                strong Saving...

    .row
        .col-md-offset-2.col-md-8
            br
            .pull-right
                button.btn.btn-default(ng-click="cancelChangingPic()") Cancel
                span &nbsp;
                span
                    button.btn.btn-primary(ng-disabled="!imgLoaded || isUploadingPic" ng-click="savePic(myCroppedImage, picInfo)") Save New Pic
