<html>
	<head>		
		<!-- Plugin Styles -->
		<link rel="stylesheet" href="{{ host }}/css/vendor.css">
		<!-- end of Plugin Styles -->

		<!-- Custom Styles -->
		<link rel="stylesheet" href="{{ host }}/css/banner/embed/app.css">
		<!-- end of Custom Styles -->
	</head>
	<body>
		<div class="fixed-banner animation-banner" data-id="{{ id }}"></div>

		<!-- Plugin Scripts -->
		<script src="{{ host }}/scripts/vendor.js"></script>
		<!-- Plugin Scripts -->

		<!-- Custom Scripts -->
		<script src="{{ host }}/scripts/banner/embed/app.js"></script>
		<!-- End Of Custom Scripts -->
	</body>
</html>