form.form-horizontal(name="userForm")
    .form-group(ng-show="spaceWarning")
        .col-md-11.col-md-offset-1
            alert(type="danger" align="center" close="closeAlert()")
                | characters: ! # $ % & @' * + \ / = ? ^ _ ` { | } ~ - and spaces are not allowed for API Key name field
    .form-group(ng-class="{ 'has-error': userForm.displayName.$error.required }")
         label.col-md-3.control-label(for="displayName") API Key name*
         .col-md-9
             input.form-control(type="text" name="displayName" placeholder="API Key name"
                               ng-model="user.displayName" ng-required="true" ng-disabled="isSaving" 
                               ng-keyup="validate($event, user.displayName)")

.col-md-12(ng-hide="!user._id || canEdit")
    .alert.alert-danger Only an onwer or manager can edit an API Key